* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

html, body {
	width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

#page {
	width: 100%;
	height: 100%;
}

	#hero {
		position: relative;
		width: 100%;
		height: 100%;
	}

		.hero-content {
			position: relative;
			z-index: 1;
		}

	#header {
		width: 100%;
		height: 110px;
		display: flex;
		justify-content: center;
	}

		.header-wrap {
			width: 1620px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.office-bc-cover {
			position: absolute;
			top: 0;
			right: 0;
		}

/* NAVIGATION START */

.nav-main-container {
    width: 100%;
    height: 110px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04); 
}

.nav-main-container .nav-bar-elements {
    width: calc(100% - 300px);
    height: 110px;
    margin: 0 auto;
    /* margin-left: 150px; */
    background-color: brown;
    /* position: relative; */

}

.nav-main-container .nav-bar-elements {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    position: absolute;
}

.fittz-logo {
    width: 75px;
    height: 75px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    /* margin-right: 976px; */
}

#navigation .navigation-container{
    width: 550px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#navigation .navigation-container li a {
    font-size: 24px;
    font-weight: 400;
    color: #f5f5f5;
    text-decoration: none;
}

/* NAVIGATION END */

/* FOLD TEXT START */

.fold-text-main{
    position: absolute;
}

.fold-text-main .fold-text-container {
    padding: 290px 0 0 150px;
}

.fold-text-main .fold-text-container h1 {
    font-size: 65px;
    font-weight: 700;
    color: #25274D;
}

.fold-text-main .fold-text-container p {
    font-size: 28px;
    font-weight: 400;
    color: #25274D;
    padding-top: 25px;
}

.fold-text-container .contactme-btn1 {
    width: 228px;
    height: 56px;
    background-color: #25274D;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 60px;
    box-shadow: 1px 1px 8px 0.8 black;
}

.free-white-space {
    width: 100%;
    height: 385px;
    /* background-color: cornflowerblue; */
}

/* FOLD TEXT END */

/* ABOUT ME SECTION START */

.about-me-section-container{
    width: calc(100% - 300px);
    height: auto;
    margin: 0 auto;
    margin-top: 210px;
}

.about-me-container {
    width: 100%;
    height: 350px;
    /* background-color: aqua; */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
}

.about-me-container .avatar-picture {
    width: 495px;
    height: 350px;
    background-image: url(../images/avatar_image.svg);
    background-repeat: no-repeat;
    /* background-color: red; */
    background-size: cover;
    border: none;
    outline: none;
    display: inline;
}

.about-me-container .about-me-text {
    width: 1096px;
    height: 350px;
    /* background-color: blueviolet; */
}

.about-me-container .about-me-text h1 {
font-size: 64px;
font-weight: 700;
color: #25274D;
text-align: center;
}

.about-me-container .about-me-text p {
    font-size: 24px;
    font-weight: 400;
    color: #25274D;
    text-align: center;
    margin-top: 50px;
}


/* ABOUT ME SECTION END */

/* SKILLS SECTION START */

.white-space-container {
    width: 100%;
    height: 750px;
    /* background-color: blue; */
}

.skills-section-container {
    width: 1354px;
    height: 642px;
    /* background-color: aquamarine; */
    margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.skills-section-container .skill-section1 {
    width: 400px;
    height: 595px;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .04); 
    background-color: #ffffff;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;
    text-align: center;
}

.skills-section-container .skill-section1 h1 {
    font-size: 35px;
    font-weight: 700;
    color: #25274D;
}

.skills-section-container .skill-section1 h3 {
    font-size: 24px;
    font-weight: 400;
    color: #25274D;
    margin-top: 15px;
}

.skills-section-container .skill-section1 p {
    font-size: 20px;
    font-weight: 300;
    color: #2D9CCA;
    margin-top: 10px;
}

.skill-section1 .designer-skill-icon {
    margin-top: -72px;
}


/* SKILLS SECTION END */

/* RECENT WORK CONTAINER START */

.recent-work-container {
    position: absolute;
}

.recent-work-header h1 {
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 500px;
    position: absolute;
}

.white-space2 {
    width: 100%;
    height: 950px;
}

/* RECENT WORK CONTAINER END */


/* <!-- COMPANIES SECTION START --> */

.companies-container {
    width: 100%;
    height: 438px;
    background-color: #EEEEEE;

}

.companies-header-text h1 {
    font-size: 45px;
    font-weight: 400;
    color: #25274D;
    text-align: center;
    padding-top: 80px;
}

.logoas-container {
    width: 1785px;
    height: 134px;
    /* background-color: coral; */
    margin: 60px auto;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

/* <!-- COMPANIES SECTION END --> */